html,body{  
    height: 100%; 
}

body {
    font-family: 'Open Sans';
}

p {
    font-size: 11px;
    margin-bottom: 0;
}

.tickLabel { 
    font-size: 80% 
}

.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 0.65s linear infinite;
    animation: spin 0.65s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f0ad4e;
}

.tab-pane {
    margin-top: -10px;
}

.header {
    font-size: 20px;
    font-weight: 100;
}

.submenu {
    padding-left: 15px;
    padding-right: 15px;
}

.submenu:not(:first-child){
    border-left: 1px solid #337ab7;
}

.table-customer tbody tr td{
    border: none;
    vertical-align: text-top;
}

.table-customer tbody tr td:first-child{
    width: 120px;  
    font-weight: bold;
}
.table-customer tbody tr td:last-child{
    width: 300px;  
}

.modal-anchor {
    font-size: 13px;
    margin-right: 20px;
}

@media (min-width: 700px) { 
    .page-wrapper {
        min-height: 600px;
    }
}

.fa-edit {
    padding-top: 1px;
}

#wrapper{
    height: 100%;
}

#page-wrapper{
    min-height: 100%;
}

.table {
    font-size: 11px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #fcf8e3;
}

.tickLabel { 
    font-size: 11px;
}

.navbar-right {
    padding-top: 15px;
    padding-right: 12px;
}